[Unit]
Description=Chromium browser with CDP on display :%i
Documentation=https://chromedevtools.github.io/devtools-protocol/
After=xvfb@%i.service
Requires=xvfb@%i.service

[Service]
Type=simple
Environment="DISPLAY=:%i"
ExecStartPre=/usr/bin/test -x /usr/bin/google-chrome-stable
ExecStartPre=/bin/bash -c 'timeout 5 bash -c "until DISPLAY=:%i xdpyinfo >/dev/null 2>&1; do sleep 0.1; done"'
ExecStart=/usr/bin/google-chrome-stable --remote-debugging-port=9222 --user-data-dir=/home/dev/.cobrowse/chrome-profile --no-first-run --no-default-browser-check --disable-gpu --disable-dev-shm-usage --disable-software-rasterizer --disable-background-timer-throttling --disable-renderer-backgrounding --renderer-process-limit=6 --disable-extensions --disable-component-extensions-with-background-pages --disable-background-networking --disable-crash-reporter --window-size=1920,1080
Restart=on-failure
RestartSec=2s
StartLimitIntervalSec=300
StartLimitBurst=5

[Install]
WantedBy=default.target
