[Unit]
Description=Xvfb virtual framebuffer on display :%i
Documentation=man:Xvfb(1)

[Service]
Type=simple
ExecStartPre=/usr/bin/test -x /usr/bin/Xvfb
ExecStart=/usr/bin/Xvfb :%i -screen 0 1920x1080x24 -ac +extension GLX +render -noreset
Restart=on-failure
RestartSec=2s
StartLimitIntervalSec=300
StartLimitBurst=5

[Install]
WantedBy=default.target
